@{
    ViewBag.Title = "Index";
    var products = ViewData["Products"] as List<WebApplication6.Models.Product>;
}

<h2>Список</h2>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var product in products)
    {
        @Product(product)
    }
</table>



@helper Product(WebApplication6.Models.Product product)
    {
    <tr>
        <td scope="col">
            @product.Name
        </td>
        <td scope="col">
            @product.Price
        </td>
        <td scope="col">
            @product.Description
        </td>
        <td scope="col">
            @Html.ActionLink("Details", "Details", new { id = product.Id });
            @Html.ActionLink("Delete", "Delete", new { id = product.Id});
        </td>
    </tr>
    }